{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Maseeh Sallah - In the quiet moments of reflection, I realized something important: our stories are too often hidden in the shadows—lost in the chaos, forgotten by the world. This blog was born from that realization. It started as a place for me to share my own journey, but quickly became something more—a home for the voices of all Afghans.

          This space is for those of us who can't leave, for those whose paths are uncertain, and for those whose stories have been silenced by the weight of our past. It’s a place where we can come together, share our experiences, and reclaim our narrative. No matter where we are, no matter how far apart, our voices are stronger when they are heard.</p>
          <p>- Maseeh Sallah -</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}